
<header class="grid relative">
  <div class="col-6_sm-12 lazy sm-min-height-50 padded bg-image bg-header-left" style="background-image:  url('{{ page.header-image }}') ;">
  </div>
  <div class="col-6_sm-12 padded bg-light">
    <nav class="header-nav relative">
      <a href="{{site.data.nav.url-1 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-1 %}current{% endif %}"> {{site.data.nav.text-1}} </a>
      <a href="{{site.data.nav.url-2 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-2 %}current{% endif %}"> {{site.data.nav.text-2}} </a>
      <a href="{{site.data.nav.url-3 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-3 %}current{% endif %}"> {{site.data.nav.text-3}} </a>
      <div class="dropdown-content-mobile">
        <a href="{{site.data.nav.url-4 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-4 %}current{% endif %}"> {{site.data.nav.text-4}} </a>
        <a href="{{site.data.nav.url-5 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-5 %}current{% endif %}"> {{site.data.nav.text-5}} </a>
        <a href="{{site.data.nav.url-6 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-6 %}current{% endif %}"> {{site.data.nav.text-6}} </a>
        <a href="{{site.data.nav.url-7 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-7 %}current{% endif %}"> {{site.data.nav.text-7}} </a>
        <a href="{{site.data.nav.url-8 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-8 %}current{% endif %}"> {{site.data.nav.text-8}} </a>
      </div>
      <a href="{{site.data.nav.url-9 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-9 %}current{% endif %}"> {{site.data.nav.text-9}} </a>
      <a href="{{site.data.nav.url-10 | replace:'.html',''}}" class="nav-links {% if page.url == site.data.nav.url-10 %}current{% endif %}"> {{site.data.nav.text-10}} </a>

      <a href="/" class="logo-header"> <img data-src="/icons/hauptlogo.png" class="logo-header lazy"> </a>
    </nav>
  </div>
</header>

  


